.NewsPageLayout {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #9fd2f6;
    justify-content: space-between;
}

.NewsTable {
    height: 100%;
    width: 100%;
}

.NewsPageButtonContainer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    justify-content: flex-start;
}